@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Forum&display=swap');

/* Elements */
h1 {
    font-family: 'Eagle Lake';
}

:root {
    --md-text-font: 'Forum';
}

/* Classes */
.md-header {
    font-family: 'Eagle Lake';
}

.md-tabs {
    font-family: 'Eagle Lake';
}